<% provide(:title, "View All") %>
<h2>Saved timesheets</h2>
<table>

<% @timesheets.each do |timesheet| %>
  <tr>
    <td style="padding:5px"><%= timesheet.date.strftime('%d/%m/%Y:') %></td>
    <td style="padding:5px"><%= timesheet.start.strftime('%I:%M%P') %> - <%= timesheet.finish.strftime('%I:%M%P') %></td>
    <td style="padding:5px">$<%= number_with_precision(timesheet.pay, precision: 2) %></td>
  </tr>
<% end %>

</table>

<br>

<%= link_to '<button class="button">Create new timesheet</button>'.html_safe, new_url %>